header h1 {
    margin-top: 30px;
}

.start_box {
    margin-top: 50px;
}

header {
    text-align: center;
    padding: 15px;
}

.input {
    padding: 5px 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background-color: rgb(41, 191, 255);
    border: none;
    padding: 6px;
    color: aliceblue;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.span {
    font-size: 25px;
}

.spam2 {
    display: block;
}

.image {
    width: 40px;
}

.header_box {
    display: flex;
    align-items: center;
    margin-top: 40px;
    column-gap: 40px;
}

.header__box_chilled {
    border: 1px solid black;
    width: 160px;
    height: 140px;
    padding: 20px 10px 0 10px;
}

.for_resolt {
    font-size: 20px;
    margin-top: 20px;
}

.for_tempratur {
    margin-top: 50px;
}

.span3 {
    margin-right: 20px;
}

.title_section {
    margin-bottom: 30px;
}

.box {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.hr {
    margin-top: 60px;
}

.input2 {
    padding: 5px;
}

@media (max-width:768px) {
    .header_box {
        flex-direction: column;
        row-gap: 15px;
    }
}